{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "pragma": "React",
    "version": "15.2"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "jest": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["label"],
        "labelAttributes": ["htmlFor"],
        "controlComponents": ["input"]
      }
    ]
  }
}
