.Theme__Square {
  --highlight-color: #2996cc;
  --background-color: #f7f7f7;
  --navbar-text-color: rgba(255, 255, 255, 0.56);
  --navbar-background-color: #2b333a;
  --navbar-text-active-color: #ffffff;
}
