.Square__Theme {
  $highlight-color: #2996cc;
  $background-color: #f7f7f7;
  $navbar-text-color: rgba(255, 255, 255, 0.56);
  $navbar-background-color: #2b333a;
  $navbar-text-active-color: #ffffff;

  background: $background-color;

  nav.NavBar.navbar {
    background: $navbar-background-color;
  }

  .navbar-item {
    &:hover {
      color: $navbar-text-active-color;
    }
    color: $navbar-text-color;
  }

  .navbar-item.NavLink_Selected {
    color: $navbar-text-active-color;
  }

  .Notifications__Count {
    background: $highlight-color;
  }
}
