.Square__Theme {
  $highlight-color: #2996cc;
  $background-color: #f7f7f7;
  $navbar-text-color: rgba(255, 255, 255, 0.56);
  $navbar-background-color: #2b333a;
  $navbar-text-active-color: #ffffff;

  background: $background-color;

  .sk-fading-circle .sk-circle:before {
    background: $highlight-color;
  }

  .FeedLikes {
    .icon .fa {
      color: $highlight-color;
    }
  }

  .FeedContent {
    b {
      color: $highlight-color;
      font-weight: normal;
    }
  }

  nav.NavBar.navbar {
    background: $navbar-background-color;
  }

  .navbar-item {
    &:hover {
      color: $navbar-text-active-color !important;
    }
    color: $navbar-text-color !important;
  }

  .navbar-item.NavLink_Selected {
    color: $navbar-text-active-color !important;
  }

  .Notifications__Count {
    background: $highlight-color;
  }
}

@media only screen and (max-width: 769px) {
  .Square__Theme {
    .navbar-menu.is-active {
      .navbar-item {
        color: #2b333a !important;
      }
    }
  }
}
