@import "styles/variables.scss";

.FeedHeader {
  margin: 20px 0;
  .title {
    color: $color-black-text;
  }
  .subtitle {
    color: $color-gray-content-text;
  }

  .Separator {
    margin: 0 5px;
  }
}
