$color-gray-bg: #eeeeee;
$color-black-text: #555555;
$color-gray-text: #b5b5b5;
$color-light-gray-text: #c3c3c3;
$color-transparent-gray-border: #d5d5d517;
$color-gray-border: #d5d5d5;

$color-pinterest: #ca2127;
$color-square: #2b333a;

$color-gray-content-text: #919191;
