@import "styles/main.scss";
@import "styles/variables.scss";

html {
  min-height: 100vh;
  //background: $color-gray-bg;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

body,
#root,
.App {
  min-height: 100vh;
}
