@import "styles/variables.scss";

.NavBar {
  padding: 0 20px;

  .navbar-bra {
    min-width: 180px;
  }

  .navbar-start {
    margin: 0 auto;
    justify-content: center;
  }

  .navbar-end {
    margin: 0;
    max-width: 180px;
  }

  a.navbar-item {
    color: $color-gray-text;

    &:hover {
      background: none;
      color: $color-black-text;
    }

    &.NavLink_Selected {
      color: $color-black-text;
    }
  }
}
