.Pinterest__Theme {
  $highlight-color: #ca2127;
  $background-color: #eeeeee;
  $navbar-text-color: #b5b5b5;
  $navbar-background-color: #ffffff;
  $navbar-text-active-color: #555555;

  background: $background-color;

  .sk-fading-circle .sk-circle:before {
    background: $highlight-color;
  }

  .FeedLikes {
    .icon .fa {
      color: $highlight-color;
    }
  }

  .Feed_Content {
    b {
      color: $highlight-color;
      font-weight: normal;
    }
  }

  nav.NavBar.navbar {
    background: $navbar-background-color;
  }

  .navbar-item {
    &:hover {
      color: $navbar-text-active-color !important;
    }
    color: $navbar-text-color !important;
  }

  .navbar-item.NavLink_Selected {
    color: $navbar-text-active-color !important;
  }

  .Notifications__Count {
    background: $highlight-color;
  }
}
