.Pinterest__Theme {
  $highlight-color: #ca2127;
  $background-color: #eeeeee;
  $navbar-text-color: #b5b5b5;
  $navbar-background-color: #ffffff;
  $navbar-text-active-color: #555555;

  background: $background-color;

  nav.NavBar.navbar {
    background: $navbar-background-color;
  }

  .navbar-item {
    &:hover {
      color: $navbar-text-active-color;
    }
    color: $navbar-text-color;
  }

  .navbar-item.NavLink_Selected {
    color: $navbar-text-active-color;
  }

  .Notifications__Count {
    background: $highlight-color;
  }
}
